@{
    ViewBag.Title = "CV";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Adress:  Starsiken 2, 52294 Tidaholm</p>
<p>Telefon: 0763458222</p>
<p>E-post:  dennisklint1@gmail.com</p>

<h4>Personligt</h4>

<ul>
    <li><strong>Analytisk</strong>:  Från mina intressen runt problemlösning, och strategispel, som jag haft hela mitt liv.</li>
    <li><strong>Stresstålig</strong>: Från min analytiska personlighet så har jag blivit duktig på att identifiera vad som orsakar stress, och jag kan därifrån hantera det och förbli lugn.</li>
    <li><strong>Metodisk</strong>: Jag har lärt mig från min utbildning och mina intressen för programmering värdet av att sätta upp en plan för hur man ska lösa ett problem.</li>
    <li><strong>Snabblärd</strong>: Mina stora intressen för olika former av spel av hög komplexitet, och utbildning har lärt mig hur man plockar upp nya färdigheter och kunskaper på kort tid.</li>
</ul>

<h4>Utbildning</h4>

<ul>
    <li>.NET och Front-end utveckling       Dec 2017 - Apr 28 2018</li>
    <li>Datavetenskap och systemutveckling  Jul 2013 - Jan 2014
    <ul>
        <li>C++</li>
        <li>Java</li>
        <li>Kunskaper runt databser och MySQL fördjupades</li>
        <li>Nätverk och servrar</li>
        <li>Windows servers och operativsystem</li>
    </ul></li>
    <li>Grundläggande programmering medC++  Jan 2013 - Mar 2013</li>
    <li>Webdesign och Grafik                2008 - 2011
    <ul>
        <li>Introduction till SQL och MySQL</li>
        <li>HTML, PHP, javascript, och design av webbsidor</li>
        <li>Windows operativsystem och deras standardprogram: Microsoft Word, Excel, och Powerpoint</li>
    </ul></li>
</ul>

<h4>Arbetslivserfarenhet</h4>

<h6>Tidningsbud     19 Jul 2017 - 18 Aug 2017</h6>
<p>Arbetade deltid och nattskift. Skiftet började 2:30 på morgonen när jag började lasta postbilen, och skulle vara klart 6:35, 6:55 på fredagar. Rutten var till majoritet på mindre landsvägar, där väglaget inte var så bra, och på grund av tiden på dygnet så fanns de många djur som man måste vara vaksam över.</p>

<h6>Vaktmästare     Jun 2008 - Jul 2008</h6>
<p>Arbetet gällde städning av byggnaderna på anläggningen och underhåll av grusgångarna, gräsmattor, och insamling av de skräp som samlats runt anläggningen.</p>

<h4>Om Mig</h4>

<p>Jag är en junior programmerare som alltid funnit problemlösning fascinerande, vilket har dragit mig mot ITbranschen. Detta har lämnat mig med en bred portfolio av erfarenheter genom hela IT-branschen.</p>
<p>Mina hobbies och intressen består av brädspel, då jag främst gillar kooperativa och komplexa spel; historie och sci-fi böcker, då historia, teknik och filosofi alltid varit intressant för mig; datorspel och tv-spel, främst strategispel och några rollspel.</p>

<h4>Övriga Meriter</h4>

<ul>
    <li>Svenska - Modersmål</li>
    <li>Engelska - Mycket goda kunskaper i skrift och tal</li>
    <li>Körkort - klass B; har även tillgång till bil</li>
</ul>

<h4>Portfolio och Referenser</h4>

<a href="https://github.com/DennisKlint">Github Portfolio</a>
<p>Referenser lämnas på begäran.</p>