@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Starsiken 2<br />
    Tidaholm, 52294<br />
    <abbr title="Phone">P:</abbr>
    0763458222
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:dennisklint1@gmail.com">dennisklint1@gmail.com</a><br />
</address>