@{
    ViewBag.Title = "Projects";
}

<div class="jumbotron">
    <h1>Projects by Dennis Klint</h1>
    <p class="lead">Here you will find some choice projects that Dennis have worked on in the past. Or you can klick the button below and be taken directly to his Github</p>
    <p><a href="https://github.com/DennisKlint" class="btn btn-primary btn-lg">Github &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sokoban</h2>
        <p>
            Sokoban is a simple block pushing game, it was made in Javascript.
        </p>
        <p><a class="btn btn-default" href="https://github.com/DennisKlint/Sokoban">Sokoban &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Arena Fighter</h2>
        <p>A game simulating an arena fight, there are different stats, gear, and effects that can take plase.
         It was made using C#</p>
        <p><a class="btn btn-default" href="https://github.com/DennisKlint/Arena-Fighter-1">Arena Fighter &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Webpage</h2>
        <p>This webpage was made using html, some javascript, but mostly Bootstrap</p>
        <p><a class="btn btn-default" href="https://github.com/DennisKlint/Webpage">Webpage &raquo;</a></p>
    </div>
</div>